[Unit]
Description=User resume actions
After=suspend.target

[Service]
Type=simple
ExecStart=-/usr/bin/usb-resume.sh

[Install]
WantedBy=suspend.target
